# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.New Classroom 2020.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\New Classroom 2020\.idea\.idea.New Classroom 2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
